langchain
python-dotenv
ipykernel
langchain-community
arxiv
langchain-text-splitters
sentence_transformers
langchain_huggingface
faiss-cpu
langchain_chroma
duckdb
pandas
duckduckgo-search
pymupdf
arxiv
wikipedia
huggingface_hub
streamlit
ipywidgets
google-generativeai
langchain_google_genai

